# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Certificates and Thumbnails folders
public/certificates/*
!public/certificates/.gitkeep

public/thumbnails/*
!public/thumbnails/.gitkeep

# Data
src/data/*
!src/data/example.json